<div id="content" class="readercontent">

    <div class="wrapper">

        <div class="chapterbody">

            <div class="postarea">
                <article id="post" class="post-hentry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">

                    <div class="headpost">

                        <h1 class="entry-title" itemprop="name">{{ page.subtitle }} {{ page.title }} Bahasa Indonesia</h1>

                        <div class="allc">Semua chapter ada di <a href="https://kiryuu.id/manga/cheating-men-must-die/">Cheating Men Must Die</a></div>
                    </div>



                    {% include share.html %}
                    {% include breadcrume-post.html %}


                    <div class="entry-content entry-content-single maincontent" itemprop="description">
                        <div class="chdesc">
                            <p>
                                Baca manga <b>{{ page.subtitle }} {{ page.title }}</b> bahasa Indonesia terbaru di <b>Postkomik</b>. Manga <b>{{ page.subtitle }}</b> bahasa Indonesia selalu update di <b>Postkomik</b>. Jangan lupa membaca update manga lainnya ya. Daftar koleksi manga <b>Postkomik</b> ada di menu Daftar Manga. </p>
                        </div>
                        <div class="chnav ctop nomirror">

                            <span class="selector slc l">
                                <div class="nvx">
                                    <select name="chapter" id="chapter" onchange="this.options[this.selectedIndex].value&amp;&amp;window.open(this.options[this.selectedIndex].value,'_self')">
                                        <option value="" disabled="disabled">Pilih Chapter</option>

                                        {% for post in site.posts %}
                                        {% if post.category contains page.category %}

                                        <option value="{{ post.url }}">{{ post.title }}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </span>
                            <span class="navrig">
                                <span class="selector readingmode l">

                                </span>
                            </span>
                            <span class="navlef">
                                <span class="npv r">
                                    <div class="nextprev">
                                        <a class="ch-prev-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-41/" rel="prev">
                                            <i class="fas fa-angle-left"></i> Prev </a>
                                        <a class="ch-next-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-43/" rel="next">
                                            Next <i class="fas fa-angle-right"></i>
                                        </a>
                                    </div>
                                </span>

                                <span class="dlx r"><a href="https://dl.kiryuu.id/?id=330579" target="_blank"><i class="fas fa-cloud-download-alt"></i> Download</a></span> </span>
                        </div>
                        <div id="readerarea">
                            {{content}}

                        </div>

                        <div class="chnav cbot">
                            <span class="selector slc l">
                                <div class="nvx">
                                    <select name="chapter" id="chapter" onchange="this.options[this.selectedIndex].value&amp;&amp;window.open(this.options[this.selectedIndex].value,'_self')">
                                        <option value="" disabled="disabled">Pilih Chapter</option>

                                        {% for post in site.posts %}
                                        {% if post.category contains page.category %}

                                        <option value="{{ post.url }}">{{ post.title }}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </span>
                            <span class="amob">
                                <span class="npv r">
                                    <div class="nextprev">
                                        <a class="ch-prev-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-41/" rel="prev">
                                            <i class="fas fa-angle-left"></i> Prev </a>
                                        <a class="ch-next-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-43/" rel="next">
                                            Next <i class="fas fa-angle-right"></i>
                                        </a>
                                    </div>
                                </span>

                                <span class="selector pagedsel r">
                                    <select name="select-paged" class="ts-select-paged" id="select-paged">
                                        <option value="0">1/7</option>
                                    </select>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="chaptertags">
                        <p>Tags: baca manga {{ page.subtitle }} {{ page.title }} bahasa Indonesia,
                            komik {{ page.subtitle }} {{ page.title }} bahasa Indonesia, baca {{ page.subtitle }} {{ page.title }} online, {{ page.subtitle }} {{ page.title }} bab,
                            {{ page.subtitle }} {{ page.title }} chapter, {{ page.subtitle }} {{ page.title }} high quality, {{ page.subtitle }} {{ page.title }} manga scan,
                            <time class="entry-date" datetime="2021-11-24WIB18:25:14+0700" itemprop="datePublished" pubdate="">November 24, 2021</time>, <span itemprop="author">{{ page.author }}</span>
                        </p>
                    </div>

                </article>
            </div>

        </div>

        <div class="readingnav rnavtop" style="display: none;">
            <div class="readingnavtop">
                <div class="daw backseries"><a href="https://kiryuu.id/manga/cheating-men-must-die/"><i class="fas fa-angle-double-left"></i></a></div>
                <div class="daw chpnw">Chapter 42 </div>
                <div class="daw dl"><a href="https://dl.kiryuu.id/?id=330579" target="_blank"><i class="fas fa-cloud-download-alt"></i></a></div>
            </div>
            <div class="rdnmx rdtop"></div>
        </div>

        <div class="readingnav rnavbot" style="display: none;">
            <div class="rdnmx rdbot"></div>
            <div class="readingnavbot">
                <div class="readingbar">
                    <div class="readingprogress" style="width: 100%;"></div>
                </div>
                <div class="readingoption">
                    <span class="selector slc l">
                        <div class="nvx">
                            <select name="chapter" id="chapter" onchange="this.options[this.selectedIndex].value&amp;&amp;window.open(this.options[this.selectedIndex].value,'_self')">
                                <option value="" disabled="disabled">Pilih Chapter</option>

                                {% for post in site.posts %}
                                {% if post.category contains page.category %}

                                <option value="{{ post.url }}">{{ post.title }}</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </span>
                    <div class="btm-np nextprev">
                        <a class="ch-prev-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-41/" rel="prev">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <span class="selectorx pagedsel r">
                            <select name="select-paged" class="ts-select-paged" id="select-paged">
                                <option value="0">1/7</option>
                            </select>
                        </span>
                        <a class="ch-next-btn" href="https://kiryuu.id/cheating-men-must-die-chapter-43/" rel="next">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
